.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;

    .footer-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0px;

        .footer-list-item {
            flex: 0 1 100%;
            list-style: none;
            padding: 16px 12px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .footer {
        .footer-list {
            .footer-list-item {
                flex: 0 1 25%;
            }
        }
    }
}
