.header {
    padding: 16px 0;

    .navbar-title {
        a {
            color: black;
            text-decoration: none;
            letter-spacing: 1.25px;
        }
    }

    .navbar {
        position: relative;
        padding: 12px;

        .logo-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .navbar-local-block {
            position: relative;
            width: 150px;
            text-align: right;

            &.list-active {
                .local-list {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .bi-globe {
                cursor: pointer;
            }

            .local-list {
                position: absolute;
                top: 100%;
                width: 100%;
                border: 1px solid black;
                padding: 0;
                text-align: center;
                margin-bottom: 0px;
                opacity: 0;
                visibility: hidden;
                z-index: 2;
                background-color: #fff;

                .local-list-item {
                    cursor: pointer;
                    padding: 10px 16px;

                    border-bottom: 1px solid black;

                    &:hover {
                        background-color: #f5f5f5;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &.active {
                        background-color: #f5f5f5;
                    }

                    .change-locale-btn {
                        display: block;
                        width: 100%;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

* {
    // outline: 1px solid red !important;
}
