#where-to-by {
    .main-bg {
        position: relative;
        height: clamp(420px, 25vw, 480px);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://www.gigabyte.com/Images/Assets/Pages/WhereToBuy/Banner_BackGround.jpg");
    }

    .bg-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(
            175deg,
            rgba(0, 21, 31, 0.6) -4%,
            rgba(0, 0, 0, 0.75) -4%,
            rgba(22, 53, 67, 0.7) 87%
        );
        z-index: 1;
    }

    .main-kv {
        position: relative;
        z-index: 2;
        height: 100%;
        max-width: 1536px;
        margin: auto;
    }

    .bread-nav {
        position: absolute;
        left: 0;
        top: 10px;

        .bread-list {
            display: flex;
            align-items: flex-start;
            padding: 0px;
            margin-bottom: 0;
            color: #fff;

            .bread-list-item {
                cursor: pointer;

                font-size: 15px;

                a {
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                }

                .bread-icon {
                    display: inline-block;
                    height: clamp(8.6px, 0.6510416667vw, 12.5px);
                    width: clamp(15px, 1.4583333333vw, 28px);
                }
            }
        }
    }

    .form-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .title {
            font-size: clamp(38px, 2.3958333333vw, 46px);
            font-weight: 500;
            line-height: clamp(38px, 2.3958333333vw, 46px);
            text-align: center;
            margin-bottom: clamp(25px, 1.71875vw, 33px);
            color: #fff;
        }

        .location-block {
            position: relative;
            height: 57px;
            color: #fff;

            .location-group {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;

                h3 {
                    font-size: 20px;
                }

                .location-link {
                    cursor: pointer;
                    color: #21d4fd;
                    margin: 0 5px 0 8px;
                }

                .select-icon {
                    cursor: pointer;
                    transform: rotate(-90deg);
                }

                &.v-enter-from,
                &.v-leave-to {
                    height: 0px;
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .search-group {
                cursor: pointer;
                position: relative;
                display: block;
                width: 725px;
                height: 100%;
                max-width: 725px;
                font-size: 16px;
                background-color: rgba(185, 185, 185, 0.5);
                backdrop-filter: blur(30px);
                border-radius: 8px;
                color: #fff;

                .search-input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    padding: 0 10px;
                    font-size: 16px;
                    outline: none;
                    padding-left: 45px;

                    &::placeholder {
                        color: #fff;
                    }
                }

                .search-icon {
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                }

                .search-close {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 15px;
                }

                &.v-enter-from,
                &.v-leave-to {
                    height: 0px;
                    opacity: 0;
                    visibility: hidden;
                }

                &.active {
                    background-color: #fff;
                    color: #000;

                    .search-icon,
                    .search-close {
                        fill: #000;
                    }
                }
            }

            .search-result-list {
                position: absolute;
                left: 0;
                right: 0;
                top: 50px;
                border: 1px solid #c5c5c5;
                background-color: #fff;
                color: #333;
                padding: 0;
                margin: 0;
                z-index: 997;

                .search-item {
                    padding: 10px 15px;
                    font-size: 15px;
                    cursor: pointer;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: #008cd6;
                        color: #fff;
                        border-color: #c5c5c5;
                    }
                }

                .search-no-item {
                    padding: 10px 15px;
                    font-size: 15px;
                    color: red;
                    border-color: #c5c5c5;
                }
            }
        }

        .select-group {
            position: relative;
            margin-top: clamp(25px, 1.71875vw, 33px);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .select-block {
                cursor: pointer;
                position: relative;
                width: clamp(280px, 18.2291666667vw, 350px);
                font-size: 16px;
                line-height: 27px;

                .selected-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    color: #fff;
                    background-color: rgba(185, 185, 185, 0.5);
                    backdrop-filter: blur(30px);
                    border-radius: 8px;

                    &.active {
                        background-color: #fff;
                        color: black;

                        .select-icon {
                            transform: rotate(180deg);
                        }
                    }

                    .select-icon {
                        width: 13px;
                        transition: all 0.25s;
                    }
                }

                .select-menu {
                    position: absolute;
                    top: 90%;
                    left: 0;
                    right: 0;
                    z-index: 2;
                    background-color: #fff;
                    border: 1px solid #c6c6c6;
                    overflow-y: auto;
                    max-height: 287px;
                    color: black;
                    margin-bottom: 0;
                    padding: 0;

                    .select-option {
                        padding: 10px 15px;
                        font-size: 15px;

                        &:hover {
                            background-color: #008cd6;
                            color: #fff;
                        }
                    }

                    &.slide-enter-active,
                    &.slide-leave-active {
                        transition: max-height 0.5s ease;
                    }

                    &.slide-enter-from,
                    &.slide-leave-to {
                        max-height: 0px;
                    }
                }

                .select-multiple-menu {
                    position: absolute;
                    top: 90%;
                    left: 0;
                    right: 0;
                    z-index: 2;
                    background-color: #fff;
                    border: 1px solid #c6c6c6;
                    overflow-y: auto;
                    max-height: 287px;
                    color: black;
                    margin-bottom: 0;
                    padding: 0;

                    .select-option {
                        font-size: 15px;

                        .group-title {
                            font-weight: 700;
                            padding: 10px 15px;
                            font-size: 15px;
                            margin-bottom: 0px;
                        }

                        .product-sub-menu {
                            padding-left: 0px;

                            .product-item {
                                cursor: pointer;
                                padding: 10px 0px 10px 45px;

                                &:hover {
                                    background-color: #008cd6;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &.slide-enter-active,
                    &.slide-leave-active {
                        transition: max-height 0.5s ease;
                    }

                    &.slide-enter-from,
                    &.slide-leave-to {
                        max-height: 0px;
                    }
                }

                & ~ .select-block {
                    margin-left: clamp(25px, 1.8229166667vw, 35px);
                }
            }

            .search-block {
                cursor: pointer;
                position: relative;
                width: clamp(280px, 18.2291666667vw, 350px);
                margin-left: clamp(25px, 1.8229166667vw, 35px);

                .search-icon {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    transform: translateY(-50%);
                    z-index: 2;
                }

                .go-search-icon {
                    cursor: pointer;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    z-index: 2;
                    fill: #fff;

                    &.active {
                        fill: #21d4fd;
                    }
                }

                .close-search-icon {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    z-index: 2;
                }

                .search-input {
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: rgba(185, 185, 185, 0.5);
                    padding: 15px 0px 15px 50px;
                    border-radius: 8px;
                    backdrop-filter: blur(30px);
                    font-size: 16px;
                    line-height: 27px;

                    &::placeholder {
                        color: #fff;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .reset-btn {
                position: absolute;
                bottom: -52px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
                font-size: 18px;
                line-height: 27px;
                color: #fff;
            }
        }
    }

    .result-block {
        margin-top: clamp(20px, 2.4479166667vw, 47px);
        margin-bottom: 100px;

        .result-container {
            position: relative;
            max-width: 1536px;
            margin: auto;
            padding: 15px;
        }

        .arrow-left {
            display: none;
            position: absolute;
            top: 15px;
            left: 2.5px;
            width: 10px;
            height: 10px;
            transform: translateY(50%);
            fill: #c6c6c6;
        }

        .arrow-right {
            display: none;
            position: absolute;
            width: 10px;
            height: 10px;
            top: 15px;
            right: 2.5px;
            transform: translateY(50%) rotate(180deg);
            fill: #c6c6c6;
        }

        .nav-button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #ddd;
            overflow-x: scroll;
            scrollbar-width: none;

            .btn-tab {
                appearance: none;
                cursor: pointer;
                font-weight: 500;
                padding: 15px 32px;
                position: relative;
                font-size: clamp(15px, 0.9375vw, 18px);
                line-height: 1.40625vw;
                background-color: transparent;
                border: none;
                white-space: nowrap;
                color: #423f3f;

                &.active {
                    color: #008cd6;
                }

                &.active::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 5px;
                    background-color: #008cd6;
                }

                &:hover::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 5px;
                    background-color: #008cd6;
                }
            }
        }

        .result-list {
            margin-top: clamp(20px, 2.6041666667vw, 50px);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 70px;
            padding: 0;

            .result-list-item-card {
                position: relative;

                &.show-under-line::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    transform: translateY(35px);
                    width: 100%;
                    height: 1px;
                    background-color: #ddd;
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(35px, -50%);
                    width: 1px;
                    height: 100%;
                    background-color: #ddd;
                }

                &:nth-child(4n) {
                    &::after {
                        display: none;
                    }
                }

                .card-head {
                    display: flex;
                    justify-content: center;

                    .img-link {
                        margin-top: 15px;

                        img {
                            display: inline-block;
                        }
                    }
                }

                .card-body {
                    margin-top: 20px;
                    margin-left: 15px;
                    font-size: 15px;

                    .product-link {
                        font-weight: 700;
                        color: #423f3f;
                        font-size: 15px;
                        text-decoration: none;

                        &:hover {
                            color: #008cd6;
                        }
                    }

                    .product-content {
                        display: flex;
                        align-items: flex-start;
                        margin-top: 7px;

                        .product-title {
                            margin-right: 10px;
                            color: #909090;
                            white-space: nowrap;
                        }

                        .product-items {
                            color: #423f3f;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1345px) {
        .form-group {
            width: clamp(890px, 58.3333333333vw, 1120px);
            margin: auto;

            .select-group {
                .search-block {
                    width: 100%;
                    margin-left: 0px;
                    margin-top: clamp(25px, 1.8229166667vw, 35px);
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .result-block {
            margin-top: 20px;

            .result-list {
                grid-template-columns: repeat(3, 1fr);
                gap: 50px;
            }
        }
    }

    @media (max-width: 960px) {
        .main-bg {
            height: 550px;
        }

        .main-kv {
            padding: 0 15px;
        }

        .bread-nav {
            display: none;
        }

        .form-group {
            width: 100%;

            .title {
                font-size: 46px;
            }

            .select-group {
                width: 100%;

                .select-block {
                    width: 100%;
                    margin-bottom: 25px;
                    margin-right: 15px;
                    margin-left: 15px;

                    & ~ .select-block {
                        margin-right: 15px;
                        margin-left: 15px;
                    }
                }

                .search-block {
                    margin-bottom: 25px;
                    margin-right: 15px;
                    margin-left: 15px;
                    margin-top: 0px;
                }
            }
        }

        .result-block {
            margin-top: 20px;

            .result-list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media (max-width: 732px) {
        .result-block {
            .nav-button-group.show-arrow {
                .arrow-left {
                    display: block;
                }

                .arrow-right {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 640px) {
        .form-group {
            .title {
                font-size: 31px;
                margin-bottom: 0px;
            }

            .location-block {
                height: 40px;
                margin-top: 20px;
                width: 100%;

                .location-group {
                    font-size: 15px;

                    h3 {
                        font-size: 15px;
                    }
                }

                .search-group {
                    width: 100%;
                }

                .search-result-list {
                    top: 35px;
                }
            }

            .select-group {
                flex-direction: column;
                flex-wrap: wrap;
                margin-top: 20px;

                .select-block {
                    margin-bottom: 20px;
                    font-size: 15px;
                    line-height: 23px;
                    margin-left: 0px;
                    margin-right: 0px;

                    & ~ .select-block {
                        margin-left: 0px;
                    }

                    .selected-head {
                        padding-top: 8.5px;
                        padding-bottom: 8.5px;
                    }
                }

                .search-block {
                    margin-bottom: 20px;
                    margin-left: 0px;

                    .search-input {
                        padding-top: 8.5px;
                        padding-bottom: 8.5px;
                        font-size: 15px;
                        line-height: 23px;
                    }
                }
            }
        }

        .result-block {
            margin-top: 15px;

            .result-container {
                padding-top: 0px;
            }

            .nav-button-group {
                &.show-arrow {
                    justify-content: flex-start;
                }

                .btn-tab {
                    font-size: 15px;
                    line-height: 23px;
                    padding: 15px 20px;
                }
            }

            .result-list {
                display: block;

                .result-list-item-card {
                    padding-bottom: 30px;
                    font-size: 15px;
                    line-height: 23px;
                    border-bottom: 1px solid #ddd;
                }

                .result-list-item-card::before {
                    display: none;
                }

                .result-list-item-card::after {
                    display: none;
                }
            }
        }
    }
}

* {
    // outline: 1px solid red !important;
}
